*,*:before, *:after{
    box-sizing: border-box;
}
body{
    height: 800px;
}
.wrapper{
    width:960px;
    height: 100%;
    margin: 0 auto;
    background-color: aquamarine;
    
    
}

.header{
    /* temporary color for testing */
    background-color:yellow;
    height:100px;
    
    position: relative;
}
nav{
    /* temporary color for testing */
    background-color:pink;
    position: absolute;
    right:5%;
    bottom: 50%;
}
.logoAlign{
    /* background-color:royalblue; */
    width: 960px;
    height: 100px;
    margin: 0 auto;
    position: relative;
}
.logoBox{
    background-color:peachpuff;
    position: absolute; 
    left:0;
    width:20%;
    height:100%;
}
.flowerLogo{
    position: absolute;
    width:80px;
    height:80px;
    top:0;
    left: 10%;
}
.logoTitle{
    position: absolute;
    top: 5%;
    left: 15%;
}